body{
background-image: url("pencil.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;
background-width: 900px;
  height: 590px;
margin-top:-80px;
margin-right: 0px;
margin-left: 0px;
}
 h1 {
  font-family: 'Roboto';
  text-align: center;
  font-size: 80pt;
  color: white;
}

header h1 {
margin-top: 150px;
}

nav {
margin-top: 250px;
text-align: center;
border: 2px solid white;
}

nav a {
color: white;
text-decoration: none;
font-size: 45pt;
padding: 10px;
text-align: center;
font-family: 'MontSerrat';
border-right: 2px solid white;
border-left: 2px solid white;
-webkit-transition-duration:0.5s;
}

nav a:hover {
-webkit-transition-duration:0.5s;
color: #D3D3D3;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #98FB98;
}

section:hover{
background:white;
}